@font-face{
  font-family: specimen;
  src:url(https://fonts.google.com/specimen/Inter);
}

body{
  background-color: hsl(233, 47%, 7%);
  font-family: specimen;
  font-size: 15px;
  font-weight: 400, 700;
  width:100vw;
  height: 100vh;
  text-align: center;
  font-size: 15px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.content{
  background-color: hsl(244, 38%, 16%);
  color: white;
  width: 375px;
  height: auto;
  margin: 0px;
  border-radius: 5px 5px 0px 0px;
  
}

header{
  background-color: hsla(277, 64%, 61%);
  background-image: url("mobile_img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 275px;
  width: 375px;
  border-radius: 5px 5px 0px 0px;
  margin-top: 180px;
}

footer {
  width: 375px;
  font-size: 11px;
  text-align: center;
}

#main_para{
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 0px;
  margin-bottom: 10px;
}

.stats_header{
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  margin-bottom: -15px;
}

h1{
  color: 0, 0%, 100%;
  margin-top: 35px;
}

footer>a{
  color: hsl(228, 45%, 44%);
}

footer{
  margin-top: 50px;
}

@media screen and (min-width:1200px){
  body{
    display: grid;
    grid-template-columns: 720px 720px;
    grid-template-rows: 600px;
    grid-template-areas: "cont head";
    grid-gap: 0px;
    background-color: white;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    justify-content: center;
    align-content: center;
  }
  
  header{
    grid-area: head;
    margin: 0px;
    min-height: 600px;
  }
  
  .content{
    /*width: 1440px;
    height: auto;*/
    background-color: lightslategray;
    display: grid;*/
    grid-area: cont;
    margin: 0px;
    justify-content: center;
    align-content: center;
  }
  
}